<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <h1>ineuron courses</h1>
    <div class='home_para'>
        <h3> Store data in MySQL database <a href='/db_credentials'>click here</a> </h3>
        <h3> Store data in Mongodb database <a href='/mongodb_operation'>click here</a> </h3>
    </div>

    <div class='course_title'>
        <ol>
            {%for key in i_neuron_courses%}

            <li> <a href='details/{{key}}'>{{key}}</a> </li>
            <br>
            {%endfor%}
        </ol>  
    </div>



</body>
</html>